*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.pdf

00_header/*.aux
00_header/*.fdb_latexmk
00_header/*.fls
00_header/*.log
00_header/*.out
00_header/*.gz
00_header/*.pdf

01_assets/*.aux
01_assets/*.fdb_latexmk
01_assets/*.fls
01_assets/*.log
01_assets/*.out
01_assets/*.gz
01_assets/*.pdf

02_chapters/*.aux
02_chapters/*.fdb_latexmk
02_chapters/*.fls
02_chapters/*.log
02_chapters/*.out
02_chapters/*.gz
02_chapters/*.pdf
